<div class="container">
    <div class="row">
        <div class="col-md-6">
            <center>
            <h3>Burger to Eat!</h3>
                <ul>
                    {{#each burgers}}
                        {{#unless this.devoured}}
                        <br>
                            <form action="/{{this.id}}" method="POST">
                                {{this.id}}
                                {{this.burger_name}}
                                <input type="hidden" name="devoured" value="true">
                                <button class="btn-primary" type="submit">Devour!</button>
                                <br>
                            </form>
                        {{/unless}}
                    {{/each}}
                </ul>
            </center>
        </div>

        <div class="col-md-6">
            <center>
                <h3>Devoured Burgers!</h3>
                    {{#each burgers}}
                        {{#if this.devoured}}
                            <li>
                                {{this.id}}
                                {{this.burger_name}}
                            </li>
                        {{/if}}
                    {{/each}}
            </center>
        </div>
    </div>
                
    <div class="row">
        <div class="col-md-12">
            <center>
                <h3>Add a Burger</h3><br>
                    <form action="/burgers" method="POST">
                        <label class="label" for="burger">Burger Name:</label>
                        <input type="text" id="name" name="burger_name">
                        <button class="button btn-primary" type="submit">Submit</button>
                    </form>
            </center>
        </div>
    </div>
    <br>
    <br>
</div>